<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.opeyemi.takeme">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".ProfileEditActivity"
            android:parentActivityName=".ProfileActivity"
            android:windowSoftInputMode="stateUnchanged"
            android:label="@string/edit_profile_label"/>

        <activity android:name=".SearchActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".SignInActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SplashScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ProfileActivity"
            android:label="@string/title_profile" />

        <activity android:name=".ChatActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="friendlychat.firebase.google.com"
                    android:pathPrefix="/message"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NewPostActivity"
            android:label="@string/job_post"
            android:windowSoftInputMode="stateUnchanged" />
        <activity
            android:name=".JobDetailsActivity"
            android:label="@string/title_activity_job_view"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".FindUserActivity" />
        <activity android:name=".NewChatActivity" />
    </application>

</manifest>